/*
    Why not embed font-family in stylesheet as opposed to each html file?
    @import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
*/

/* Colors used. !!!Consider Changing Colors!!!!
    https://www.color-hex.com/color-palette/1294
    Background color Grey- #f8f8ff
    Primary Color Dark Blue- #011f4b
    Secondary Colors:#03396c, #005b96, #6497b1

*/

* {
    box-sizing: border-box;
}

body {
    background-color: #f8f8ff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #011f4b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    flex: 0 1 50px;
}

.page-header__item:first-child {
    flex-shrink: 1;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

/*Start Grid Fallback*/
.grid__item {
    display: inline-block;
    width: 33%;
}
/*End Grid Fallback*/

@supports(display:grid) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 0;
    }
} 

.grid__item {
    background-color: grey;
    width: auto;
    min-height: auto;
    margin: 0;
}

#contact-form {
    display: grid;
    grid-template-columns: 1fr;
}

.form__elements {
    width: 200px;
}

.form__elements:nth-child(odd) {
    margin-top: 10px;
}

.navigation-list__item{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}

h1 {
    font-size: 30px;
    line-height: 1.5;
    font-style: bold;
    font-variant: small-caps;
}

p {
    font-size: 16px;
    line-height: 1.2;
}

button, input[type="submit"] {
    border: none;
    font-family:inherit;
    background-color: #011f4b;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.9;
}

a {
    color: #011f4b;
}


a:visited {
    /* visited link */
    color: #005b96;
}

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
    color: #6497b1;
}

a:active {
    /* selected link */
    color: #03396c;
}

.profile {
    margin: 0 auto;
    max-width: 700px;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

footer {
    margin-top: auto;
}
.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.footer__image-link--hov {
    /*remove underlining after image links in footer*/
    text-decoration: none;
}

/* header {
    position: fixed;
    top: 0;
    left: 0;
} */