/*
    Why not embed font-family in stylesheet as opposed to each html file?
    @import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
*/

:root {
    --background-color: #f8f8ff;
    --primary-color: #75DDDD;
    --secondary-color--blue: #0D3B66;
    --secondary-color--orange: #FCB139;
    --sun-color: #edc655;
    --sun-color--transition: #f76414;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: var(--secondary-color--blue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 10px;
}

.page-header__item {
    flex: 0 1 50px;
}

.page-header__item:first-child {
    flex-shrink: 1;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

/*Start Grid Fallback*/
.grid__item {
    display: inline-block;
    width: 33%;
}
/*End Grid Fallback*/

@supports(display:grid) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 10px;
    }
} 

.grid__item {
    background-color: var(--secondary-color--blue);
    color: var(--secondary-color--orange);
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 10px;
}

#contact-form {
    display: grid;
    grid-template-columns: 1fr;
}

.form__elements {
    width: 200px;
    margin: 0 auto;
}

.form__elements:nth-child(odd) {
    margin-top: 10px;
}

.navigation-list__item{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
    color:var(--secondary-color--orange);
    background-color: var(--secondary-color--blue);
    width: 120px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 100px;
    border: 2px solid var(--secondary-color--blue);
    transition: background-color 0.2s ease-in-out ;
    a {
        text-decoration: none;
    font-weight: bold;
    color:var(--secondary-color--orange);
    }
    &:hover {
        background-color: var(--background-color);
        opacity: 0.8;
    }
    a:visited {
        color:var(--secondary-color--orange);
    }
}

.navigation-list__item--active {
    background-color: var(--primary-color);
    color: var(--secondary-color--blue);
    border: 2px solid var(--primary-color);
    a {
        color: var(--secondary-color--blue);
    }
    a:visited {
        color: var(--secondary-color--blue);
    }
}

/*
.navigation-list__item--active a {
    color: var(--secondary-color--blue);
}*/

h1 {
    font-size: 30px;
    line-height: 1.5;
    font-style: bold;
    font-variant: small-caps;
    margin: 10px;
}

p {
    font-size: 16px;
    line-height: 1.2;
}

a,
a:visited {
    color: var(--secondary-color--blue);
}

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}

a:active {
    /* selected link */
    color: var(--primary-color);
}

/********
.navigation-list__item:hover {
    background-color: var(--background-color);
    opacity: 0.8;
}

.navigation-list__item a:visited {
    /* visited link
    color:var(--secondary-color--orange);
}

.navigation-list__item--active a:visited {
    color: var(--secondary-color--blue);
}*/

%button-font-color {
    color: var(--secondary-color--orange);
}

button, input[type="submit"],
.button,
.button:visited {
    @extend %button-font-color;
    border: none;
    font-family:inherit;
    background-color: var(--secondary-color--blue);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s ease-in-out ;
}

button:hover, 
button:focus, 
input[type="submit"]:hover, 
input[type="submit"]:focus,
.button:hover, 
.button:focus{
    @extend %button-font-color;
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.profile,
.about-me,
.contact-info {
    margin: 0 auto;
    max-width: 700px;
}

.contact-info {
    text-align: center;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 50%;
}

#about-picture {
    margin-top: 20px;
    height: 100%;
}

table {
    width: 75%;
    margin: 20px auto;
}

@keyframes color-change {
    from {
        fill: var(--sun-color);
    }
    to {
        fill: var(--sun-color--transition);
    }
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }
    to {
      transform: translate(100px, 48px);
    }
  }

.sun {
    animation: 4s color-change infinite alternate linear;
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

footer {
    margin-top: auto;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.footer__image-link--hov {
    /*remove underlining after image links in footer*/
    text-decoration: none;
}

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
    
    .profile__portrait {
        float: none;
        margin: auto;
        width: 50%;
    }

    .about-me,
    .profile {
        text-align: center;
    }

    .about-me,
    .profile p {
        width: 75%;
        margin: auto;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .main-section {
        margin: 10px;
    }
}

@media all and (max-width:750px) {
    .grid {
        grid-gap: 10px;
    }

    .grid-item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}